[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
click = "*"
bs4 = "*"
boto3 = "*"
opencv-python = "*"
pydub = "*"
awscli = "*"
gTTS = "*"
face-recognition = "*"

[requires]
python_version = "3.7"
